{% extends 'layout.html' %} {% block content %}

<form action="/api/users/create" method="post">
    <label for="username">Enter a username</label>
    <input type="username" name="username" id="username" />
    <br/>
    <label for="password">Enter a password</label>
    <input type="password" name="password" id="password" />
    <br/>
    <button type="submit">Envoyer</button>
</form>

<h1>Users</h1>
<ul>
    {% for user in users %}
        <li>{{user.username}}</li>
    {% endfor %}

    <div>

    </div>
</ul>

<button onclick="getBooksAsyncAwait()">
    Click me
</button>

<div id="users-list">

</div>

{% endblock %}
